body {
  font:
    100%/1.5 system-ui,
    sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

.tooltip {
  position: absolute;
  background: white;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
  display: none;
  font-size: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

#time-slider {
  width: 200px;
}
